  .hero {
    margin-top: 62px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;  
  }

  .button {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 4px;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: var(--heading);
    font-weight: 500;
    font-size: 15px;
    color: var(--text-h);
    margin: 0 auto;
  }

  .button label {
    font-size: 11px;
    line-height: 135%;
    color: var(--text);
    margin: 0;
  }